body{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background-color: #F2F2F2;
  font-family: sans-serif;
}

li,a,button{
  list-style-type: none;
  text-decoration: none;
  color:white;
}

/* Navbar Stylins Start */

.logo{
  font-size: 27px;
}

.sear{
  position: absolute;
  left:300px;
  top:20px;
  height: 32px;;
  width: 450px;
  padding-left:40px;
  outline: none;
  border-radius: 5px;
}

.sign-btn{
   background-color: transparent;
   border: 1px solid white;
   padding:7px;
   /* padding-left: px; */
}

.App-header{
  display:flex;
  justify-content: space-around;
  background-color: #333545;
  height:7vh ;
  padding-top:25px;
  color: aliceblue;
}

.fn{
  display: flex;
  padding-left:600px;
}

.fn li{
  padding-left: 30px;
}

.App-header-2{
  margin-bottom: 6px;
  padding:15px;
  display:flex;
  justify-content: space-around;
  background-color:#1F2533;
  height:10px ;
  padding-top:25px;
  color: aliceblue;
}

.App-header-2 nav{
    display: flex;
    padding-top: 0px;
}

.App-header-2 nav li{
  display: flex;
  padding-right: 14px;
}

/* Navbar Styling End */

.Trend{
  padding-top:50px;
  margin-left:50px;
  /* font-weight:bold ; */
  font-size:20px;
  padding-bottom:10px;
}

.tre-btn{
   background-color: transparent;
   border: none;
   color: gray;
   font-size:12px;
}

/* Body Styling Started */
.Heading{
  position: absolute;
  padding-left:50px;
  font-size:25px;
  /* padding-top:100px; */
  font-weight: bold;
}

.btn-heading{
  margin-left:1050px;
  color: blue;
  /* outline: none; */
  background-color: transparent;
  cursor: pointer;
  border:none;  
  font-size:16px;
}

.container{
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin-left:50px;
  display:flex;
}

.box{
  flex:1;
  margin-right: 40px;
  margin-top:20px;
  width: 100px;
  height: 320px;
  background-color: red;
  border-radius: 12px;
  outline: none;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}

.text{
  color: black;
}

/* Body Styling finishes */


.bo{
  background-color: white;
  box-shadow: 2px 10px 12px (0,0,0,0.5);
  width:200px;
  margin-left:30px;
  height: 330px;
  /* padding-left: 20px; */
  flex:1;
}

.bod{
  display:flex;
}

.sec{
  flex:4;
  width: 70%;
  height: 100vh;
}
.contain{
  /* justify-content: center; */
  display: flex;
  margin-right:30px;
  /* flex:3; */
}

.boxy{
  margin-left: 50px;
  width: 230px;
  height: 320px;
  background-color: white;
  border-radius: 12px;
  outline: none;
  box-shadow: 2px 10px 12px (0,0,0,0.5);
}