/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

body{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background-color: rgb(244,244,244);
  font-family: 'Roboto', sans-serif;
  color: #333333;
}


li,a,button{
  list-style-type: none;
  text-decoration: none;
  color:white;
}

header>li{
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   font-size: 16px;
   font-weight:400px;
   font-family: 'Roboto', sans-serif;
}
/* Navbar Styling Start */

.App-header{
  display:flex;
  justify-content: space-around;
  background-color: #333545;
  height:7vh ;
  padding-top:25px;
  color: aliceblue;
}

.fn{
  display: flex;
}

.App-header-2{
  margin-bottom: 6px;
  padding:15px;
  display:flex;
  justify-content: space-around;
  background-color:#1F2533;
  height:10px ;
  padding-top:25px;
  color: aliceblue;
}

.App-header-2 nav{
    display: flex;
    padding-top: 0px;
}

.App-header-2 nav li{
  display: flex;
  padding-right: 14px;
}

/* Navbar Styling End */

.Trend{
  padding-top:50px;
  margin-left:30px;
  /* font-weight:bold ; */
  font-size:20px;
  padding-bottom:10px;
}


.tre-btn{
   background-color: transparent;
   border: none;
   color: gray;
   font-size:12px;
}

/* Body Styling Started */
.Heading{
  position: absolute;
  padding-left:340px;
  font-size:20px;
  /* padding-top:100px; */
  font-weight: bold;
}

.btn-heading{
  margin-left:1250px;
  color: blue;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border:none;  
  font-size:16px;
}


.box{
  margin-left: 40px;
  margin-top:20px;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
  outline: none;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}

.text{
  color: black;
}

/* Body Styling finishes */

.cont{
  margin-left: 30px;
  display: flex;
}

.bo{
  background-color: white;
  box-shadow: 2px 10px 12px (0,0,0,0.5);
  width:240px;
  height: 510px;
  padding-left: 20px;
}